@model NasaData


<div class="text-center">
    <h1 class="display-4">Welcome to NASA</h1>
    <h5>@Model.Date</h5>
    <p>@Model.Explanation</p>
    <img src="@Model.Url" />
    
</div>
<script crossorigin="anonymous" async src="https://api.zipcan.com/script.js?token=6Xecn9HamNjy"></script>
